    * {
        margin: 0
    }
    
    .app {
        background-color: #fafafa;
    }
    
    .app__header {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
        padding: 20px;
        object-fit: contain;
        border-bottom: 1px solid lightgray;
        display: flex;
        justify-content: space-between;
    }
    
    .app__header-image {
        object-fit: contain;
    }
    
    .app__signup {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .feed {
        padding: 20px;
    }